APP_TITLE=Трекер тренировок
DATABASE_URL=sqlite+aiosqlite:///./tracker.db #Для разработки и тестирования
DATABASE_URL=postgresql+asyncpg://postgres:password@localhost:5432/fitness_db #Для продакшена
SECRET=
GROQ_API_KEY=
BOT_TOKEN=
API_URL=http://api:8000